<div class="footer">
  <ul class="list-inline">
    <li><a href="#"></a><i class="fa fa-youtube"></i></li>
    <li><a href="#"></a><i class="fa fa-instagram"></i></li>
    <li><a href="#"></a><i class="fa fa-facebook"></i></li>
    <li><a href="#"></a><i class="fa fa-twitter"></i></li>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
